body {
    background-image: url("1.jpg")
}
div {
    padding: 2px;
    width:fit-content; 
    font-weight:bold;
    font-size: 18px;
}

.wrapper {
    margin: auto!important;
    background-color: rgb(156, 145, 145);
    border: thin solid black;
    border-radius: 10px;
}

#pole {
    margin-top: 5px;
    width: 98%;
    text-align: right;
    height: 30px;
    background-color: white !important;
    border: thin solid black;
    font-size: 25px !important;
}

.button1 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    float: left;
    text-align: center;
    padding: 7px;
    margin: 1px;
    background-color: rgba(34, 30, 30, 0.418)!important;
    border: thin solid black;
}

.button2 {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    float: left;
    text-align: center;
    padding: 7px;
    margin: 1px;
    background-color: rgba(95, 35, 35, 0.514)!important;
    border: thin solid black;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}
.button1:hover {
    background-color:rgba(34, 30, 30, 0.7)!important;
}

.button2:hover {
    background-color:rgba(95, 35, 35, 0.7)!important;
}
#c, .checked {
    background-color: rgb(211, 138, 2) !important;
}
#c:hover, .checked:hover {
    background-color:rgb(175, 116, 6) !important;
}
